.gabriela-regular {
    font-family: "Gabriela", serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: "Gabriela", serif;
}


.nadpis{
  font-size: 4vw;
}

.podnadpis{
font-size: 1.5vw;
margin-top: 2vw;
}

.tlacitko{
  margin-top: 3vw;
}

.podnadpis-diskografie{
  font-size: 3vw;
}

.album-1{
  background-color: #832A2C;
  color: #060201;
}

.album-2{
  background-color: #731849;
  color: #080305;
}

.album-3{
  background-color: #337267;
  color: #171B24;
}

.album-4{
  background-color: #99D4DE;
  color: #020408;
}

.album-5{
  background-color: #D272A6;
  color: #1B0A24;
}

.album-6{
  background-color: #BFAE69;
  color: #0D0D0D;
}

.album-7{
  background-color: #8ECCAB;
  color: #0E241F;
}

.album-8{
  background-color: #FFAC88;
  color: #3C1500;
}

.album-9{
  background-color: #3FB480;
  color: #080008;
}

.album-10{
  background-color: #FCB9A7;
  color: #3B1910;
}



.album-1-t{
  color: #832A2C;
  background-color: #060201;
}

.album-2-t{
  color: #731849;
  background-color: #080305;
}

.album-3-t{
 color: #337267;
 background-color: #171B24;
}

.album-4-t{
  color: #99D4DE;
  background-color: #020408;
}

.album-5-t{
  color: #D272A6;
  background-color: #1B0A24;
}

.album-6-t{
  color: #BFAE69;
  background-color: #0D0D0D;
}

.album-7-t{
  color: #8ECCAB;
  background-color: #0E241F;
}

.album-8-t{
  color: #FFAC88;
  background-color: #3C1500;
}

.album-9-t{
  color: #3FB480;
  background-color: #080008;
}

.album-10-t{
  color: #FCB9A7;
  background-color: #3B1910;
}

.obrazek-container{
  width: 40%;
}

.alb-text-container{
  flex: 1;
}

.text-alba{
font-size: 1vw;
margin-bottom: 7%;
}

.odkazy{
  font-size: 2vw;
  text-decoration: none;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-bottom: 1%;
  padding-left: 7%;
  padding-right: 7%;
}

.footer{
  color: #ED298A ;
}

.text-ruz{
  color: #ED298A ;
}

.paticka{
  text-decoration: none;
  font-size: 1.5vw;
}

.paticka-con{
  padding-top: 7vw;
}

.paticka-odkazy{
  text-decoration: underline;
}

.podnadpis-koncerty{
  font-size: 7vw;
}