$primary: #000B13;
$carousel-caption-padding-y:         12vw;
$btn-font-size:               2vw;
$bg-1c: #000B13;
$carousel-control-color: #000B13;

// Import all of Bootstrap's CSS
@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
